<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/" method="GET">
      
      <% jokeDataCategory.forEach(category => {%>
        <input type="radio" name="category" value="<%=category%>">
        <label ><%=category%></label>
        <br>
        <%})%>
    <button type="submit">Get Chuck Norris Joke</button>
    </form>

    <% if(jokeData) { %>
      <h2><%=category%> Jokes</h2>
      <h3><%=jokeData.value%></h3>
    <% } else { %>
      
      <%}%> 
  </body>
</html>
